In [1]:
import numpy as np

In [6]:
w0 = 2 * np.random.random((3, 4)) - 1

In [7]:
w0

array([[-0.74970458,  0.05333324,  0.2390808 , -0.86788834],
       [ 0.9730671 ,  0.67036883,  0.89589829, -0.61204122],
       [ 0.10520131, -0.89245479, -0.73737819, -0.7112819 ]])

In [8]:
w1 = 2 * np.random.random((4, 1)) - 1

In [3]:
w1

NameError: name 'w1' is not defined

In [2]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [5]:
dataframe = pd.read_csv("data.csv")

In [6]:
dataframe

    32.502345269453031  31.70700584656992
0            53.426804          68.777596
1            61.530358          62.562382
2            47.475640          71.546632
3            59.813208          87.230925
4            55.142188          78.211518
5            52.211797          79.641973
6            39.299567          59.171489
7            48.105042          75.331242
8            52.550014          71.300880
9            45.419730          55.165677
10           54.351635          82.478847
11           44.164049          62.008923
12           58.168471          75.392870
13           56.727208          81.436192
14           48.955889          60.723602
15           44.687196          82.892504
16           60.297327          97.379897
17           45.618644          48.847153
18           38.816818          56.877213
19           66.189817          83.878565
20           65.416052         118.591217
21           47.481209          57.251819
22           41.575643          51.391744
23           51.845187          75.380652
24           59.370822          74.765564
25           57.310003          95.455053
26           63.615561          95.229366
27           46.737619          79.052406
28           50.556760          83.432071
29           52.223996          63.358790
..                 ...                ...
69           31.588117          50.392670
70           53.660932          63.642399
71           46.682229          72.247251
72           43.107820          57.812513
73           70.346076         104.257102
74           44.492856          86.642020
75           57.504533          91.486778
76           36.930077          55.231661
77           55.805733          79.550437
78           38.954769          44.847124
79           56.901215          80.207523
80           56.868901          83.142750
81           34.333125          55.723489
82           59.049741          77.634183
83           57.788224          99.051415
84           54.282329          79.120646
85           51.088720          69.588898
86           50.282836          69.510503
87           44.211742          73.687564
88           38.005488          61.366905
89           32.940480          67.170656
90           53.691640          85.668203
91           68.765734         114.853871
92           46.230966          90.123572
93           68.319361          97.919821
94           50.030174          81.536991
95           49.239765          72.111832
96           50.039576          85.232007
97           48.149859          66.224958
98           25.128485          53.454394

[99 rows x 2 columns]

In [7]:
dataframe = dataframe[0:10]

In [8]:
dataframe

   32.502345269453031  31.70700584656992
0           53.426804          68.777596
1           61.530358          62.562382
2           47.475640          71.546632
3           59.813208          87.230925
4           55.142188          78.211518
5           52.211797          79.641973
6           39.299567          59.171489
7           48.105042          75.331242
8           52.550014          71.300880
9           45.419730          55.165677

In [12]:
dataframe.loc[:, ("y1")] = [1, 1, 1, 0, 0, 1, 0, 1, 1, 1]

/Library/Python/2.7/site-packages/pandas/core/indexing.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Library/Python/2.7/site-packages/pandas/core/indexing.py:561: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [37]:
dataframe = pd.read_csv("data.csv")

In [38]:
dataframe

    index    area  bathrooms     price    sq_price
0       0  2104.0        3.0  399900.0  190.066540
1       1  1600.0        3.0  329900.0  206.187500
2       2  2400.0        3.0  369000.0  153.750000
3       3  1416.0        2.0  232000.0  163.841808
4       4  3000.0        4.0  539900.0  179.966667
5       5  1985.0        4.0  299900.0  151.083123
6       6  1534.0        3.0  314900.0  205.280313
7       7  1427.0        3.0  198999.0  139.452698
8       8  1380.0        3.0  212000.0  153.623188
9       9  1494.0        3.0  242500.0  162.315930
10     10  1940.0        4.0  239999.0  123.710825
11     11  2000.0        3.0  347000.0  173.500000
12     12  1890.0        3.0  329999.0  174.602646
13     13  4478.0        5.0  699900.0  156.297454
14     14  1268.0        3.0  259900.0  204.968454
15     15  2300.0        4.0  449900.0  195.608696
16     16  1320.0        2.0  299900.0  227.196970
17     17  1236.0        3.0  199900.0  161.731392
18     18  2609.0        4.0  499998.0  191.643542
19     19  3031.0        4.0  599000.0  197.624546
20     20  1767.0        3.0  252900.0  143.123939
21     21  1888.0        2.0  255000.0  135.063559
22     22  1604.0        3.0  242900.0  151.433915
23     23  1962.0        4.0  259900.0  132.466871
24     24  3890.0        3.0  573900.0  147.532134
25     25  1100.0        3.0  249900.0  227.181818
26     26  1458.0        3.0  464500.0  318.587106
27     27  2526.0        3.0  469000.0  185.669042
28     28  2200.0        3.0  475000.0  215.909091
29     29  2637.0        3.0  299900.0  113.727721
30     30  1839.0        2.0  349900.0  190.266449
31     31  1000.0        1.0  169900.0  169.900000
32     32  2040.0        4.0  314900.0  154.362745
33     33  3137.0        3.0  579900.0  184.858145
34     34  1811.0        4.0  285900.0  157.868581
35     35  1437.0        3.0  249900.0  173.903967
36     36  1239.0        3.0  229900.0  185.552865
37     37  2132.0        4.0  345000.0  161.819887
38     38  4215.0        4.0  549000.0  130.249110
39     39  2162.0        4.0  287000.0  132.747456
40     40  1664.0        2.0  368500.0  221.454327
41     41  2238.0        3.0  329900.0  147.408400
42     42  2567.0        4.0  314000.0  122.321776
43     43  1200.0        3.0  299000.0  249.166667
44     44   852.0        2.0  179900.0  211.150235
45     45  1852.0        4.0  299900.0  161.933045
46     46  1203.0        3.0  239500.0  199.085619

In [39]:
dataframe = dataframe.drop(["index", "price", "sq_price"], axis=1)

In [40]:
dataframe = dataframe[0:10]

In [41]:
dataframe

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0
5  1985.0        4.0
6  1534.0        3.0
7  1427.0        3.0
8  1380.0        3.0
9  1494.0        3.0

In [42]:
dataframe.loc[:, ("y1")] = [1, 1, 1, 0, 0, 1, 0, 1, 1, 1]

In [43]:
dataframe

     area  bathrooms  y1
0  2104.0        3.0   1
1  1600.0        3.0   1
2  2400.0        3.0   1
3  1416.0        2.0   0
4  3000.0        4.0   0
5  1985.0        4.0   1
6  1534.0        3.0   0
7  1427.0        3.0   1
8  1380.0        3.0   1
9  1494.0        3.0   1

In [44]:
dataframe.loc[:, ("y2")] = dataframe["y1"] == 0

In [45]:
dataframe

     area  bathrooms  y1     y2
0  2104.0        3.0   1  False
1  1600.0        3.0   1  False
2  2400.0        3.0   1  False
3  1416.0        2.0   0   True
4  3000.0        4.0   0   True
5  1985.0        4.0   1  False
6  1534.0        3.0   0   True
7  1427.0        3.0   1  False
8  1380.0        3.0   1  False
9  1494.0        3.0   1  False

In [48]:
dataframe.loc[:, ("y2")] = dataframe["y2"].astype(int)

In [49]:
dataframe

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

In [52]:
inputX = dataframe.loc[:, ["area", "bathrooms"]].as_matrix()

In [53]:
inputX

array([[  2.10400000e+03,   3.00000000e+00],
       [  1.60000000e+03,   3.00000000e+00],
       [  2.40000000e+03,   3.00000000e+00],
       [  1.41600000e+03,   2.00000000e+00],
       [  3.00000000e+03,   4.00000000e+00],
       [  1.98500000e+03,   4.00000000e+00],
       [  1.53400000e+03,   3.00000000e+00],
       [  1.42700000e+03,   3.00000000e+00],
       [  1.38000000e+03,   3.00000000e+00],
       [  1.49400000e+03,   3.00000000e+00]])

In [54]:
inputY = dataframe.loc[:, ["y1", "y2"]].as_matrix()

In [55]:
inputY

array([[1, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [1, 0]])

In [56]:
learning_rate = 0.000001

In [57]:
train_epochs = 5000

In [58]:
display_step = 50

In [60]:
n_samples = inputY.size

In [62]:
 import numpy as np
x = np.array([[6, 4],
               [9, 8],
               [4, 32]])

In [64]:
tf.reduce_sum(x)

In [67]:
with tf.Session() as sess:
    print(sess.run(tf.reduce_sum(x)))

63

In [68]:
x = tf.placeholder(tf.float32, [None, 2])

In [69]:
W = tf.Variable(tf.zeros([2, 2]))

In [72]:
b = tf.Variable(tf.zeros([2]))

In [73]:
y_values = tf.add(tf.matmul(x, W), b)

In [74]:
y = tf.nn.softmax(y_values)

In [75]:
y_ = tf.placeholder(tf.float32, [None, 2])

In [76]:
cost = tf.reduce_sum(tf.pow(y_ - y, 2)) / (2 * n_samples)

In [77]:
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

In [78]:
init = tf.initialize_all_variables()

WARNING:tensorflow:From <ipython-input-78-0f50547c66e8>:1: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.global_variables_initializer` instead.

In [79]:
sess = tf.Session()

In [80]:
sess.run(init)

In [84]:
for i in range(train_epochs):
    sess.run(optimizer, feed_dict={x:inputX, y_:inputY})
    
    if i % display_step == 0:
        cc = sess.run(cost, feed_dict={x:inputX, y_:inputY})
        print("Training step:", "%04d" % i, "cost=", "{:.9f}".format(cc))

('Training step:', '0000', 'cost=', '0.111773349')
('Training step:', '0050', 'cost=', '0.109539941')
('Training step:', '0100', 'cost=', '0.109539881')
('Training step:', '0150', 'cost=', '0.109539807')
('Training step:', '0200', 'cost=', '0.109539725')
('Training step:', '0250', 'cost=', '0.109539665')
('Training step:', '0300', 'cost=', '0.109539591')
('Training step:', '0350', 'cost=', '0.109539531')
('Training step:', '0400', 'cost=', '0.109539464')
('Training step:', '0450', 'cost=', '0.109539390')
('Training step:', '0500', 'cost=', '0.109539315')
('Training step:', '0550', 'cost=', '0.109539248')
('Training step:', '0600', 'cost=', '0.109539188')
('Training step:', '0650', 'cost=', '0.109539129')
('Training step:', '0700', 'cost=', '0.109539054')
('Training step:', '0750', 'cost=', '0.109538987')
('Training step:', '0800', 'cost=', '0.109538928')
('Training step:', '0850', 'cost=', '0.109538838')
('Training step:', '0900', 'cost=', '0.109538779')
('Training step:', '0950', 'cost=', '0.109538697')
('Training step:', '1000', 'cost=', '0.109538652')
('Training step:', '1050', 'cost=', '0.109538577')
('Training step:', '1100', 'cost=', '0.109538510')
('Training step:', '1150', 'cost=', '0.109538436')
('Training step:', '1200', 'cost=', '0.109538376')
('Training step:', '1250', 'cost=', '0.109538302')
('Training step:', '1300', 'cost=', '0.109538235')
('Training step:', '1350', 'cost=', '0.109538175')
('Training step:', '1400', 'cost=', '0.109538101')
('Training step:', '1450', 'cost=', '0.109538034')
('Training step:', '1500', 'cost=', '0.109537959')
('Training step:', '1550', 'cost=', '0.109537899')
('Training step:', '1600', 'cost=', '0.109537825')
('Training step:', '1650', 'cost=', '0.109537765')
('Training step:', '1700', 'cost=', '0.109537683')
('Training step:', '1750', 'cost=', '0.109537624')
('Training step:', '1800', 'cost=', '0.109537557')
('Training step:', '1850', 'cost=', '0.109537482')
('Training step:', '1900', 'cost=', '0.109537408')
('Training step:', '1950', 'cost=', '0.109537341')
('Training step:', '2000', 'cost=', '0.109537289')
('Training step:', '2050', 'cost=', '0.109537207')
('Training step:', '2100', 'cost=', '0.109537147')
('Training step:', '2150', 'cost=', '0.109537080')
('Training step:', '2200', 'cost=', '0.109537005')
('Training step:', '2250', 'cost=', '0.109536931')
('Training step:', '2300', 'cost=', '0.109536871')
('Training step:', '2350', 'cost=', '0.109536789')
('Training step:', '2400', 'cost=', '0.109536745')
('Training step:', '2450', 'cost=', '0.109536670')
('Training step:', '2500', 'cost=', '0.109536603')
('Training step:', '2550', 'cost=', '0.109536529')
('Training step:', '2600', 'cost=', '0.109536454')
('Training step:', '2650', 'cost=', '0.109536387')
('Training step:', '2700', 'cost=', '0.109536313')
('Training step:', '2750', 'cost=', '0.109536253')
('Training step:', '2800', 'cost=', '0.109536193')
('Training step:', '2850', 'cost=', '0.109536126')
('Training step:', '2900', 'cost=', '0.109536052')
('Training step:', '2950', 'cost=', '0.109535977')
('Training step:', '3000', 'cost=', '0.109535918')
('Training step:', '3050', 'cost=', '0.109535851')
('Training step:', '3100', 'cost=', '0.109535776')
('Training step:', '3150', 'cost=', '0.109535709')
('Training step:', '3200', 'cost=', '0.109535649')
('Training step:', '3250', 'cost=', '0.109535575')
('Training step:', '3300', 'cost=', '0.109535500')
('Training step:', '3350', 'cost=', '0.109535433')
('Training step:', '3400', 'cost=', '0.109535359')
('Training step:', '3450', 'cost=', '0.109535314')
('Training step:', '3500', 'cost=', '0.109535240')
('Training step:', '3550', 'cost=', '0.109535173')
('Training step:', '3600', 'cost=', '0.109535098')
('Training step:', '3650', 'cost=', '0.109535024')
('Training step:', '3700', 'cost=', '0.109534957')
('Training step:', '3750', 'cost=', '0.109534882')
('Training step:', '3800', 'cost=', '0.109534815')
('Training step:', '3850', 'cost=', '0.109534755')
('Training step:', '3900', 'cost=', '0.109534696')
('Training step:', '3950', 'cost=', '0.109534621')
('Training step:', '4000', 'cost=', '0.109534547')
('Training step:', '4050', 'cost=', '0.109534480')
('Training step:', '4100', 'cost=', '0.109534405')
('Training step:', '4150', 'cost=', '0.109534346')
('Training step:', '4200', 'cost=', '0.109534286')
('Training step:', '4250', 'cost=', '0.109534219')
('Training step:', '4300', 'cost=', '0.109534144')
('Training step:', '4350', 'cost=', '0.109534070')
('Training step:', '4400', 'cost=', '0.109534003')
('Training step:', '4450', 'cost=', '0.109533928')
('Training step:', '4500', 'cost=', '0.109533869')
('Training step:', '4550', 'cost=', '0.109533802')
('Training step:', '4600', 'cost=', '0.109533742')
('Training step:', '4650', 'cost=', '0.109533668')
('Training step:', '4700', 'cost=', '0.109533593')
('Training step:', '4750', 'cost=', '0.109533526')
('Training step:', '4800', 'cost=', '0.109533451')
('Training step:', '4850', 'cost=', '0.109533392')
('Training step:', '4900', 'cost=', '0.109533310')
('Training step:', '4950', 'cost=', '0.109533250')

In [85]:
print("Finished!")

Finished!

In [86]:
training_cost = sess.run(cost, feed_dict={x:inputX, y_:inputY})

In [87]:
training_cost

0.10953319

In [88]:
print(sess.run(W))

[[ 0.00021399 -0.000214  ]
 [ 0.00012764 -0.00012764]]

In [89]:
print(sess.run(b))

[  2.96079634e-05  -2.96079743e-05]

In [90]:
sess.run(y, feed_dict={x:inputX})

array([[ 0.71122015,  0.28877994],
       [ 0.66498965,  0.33501038],
       [ 0.7365284 ,  0.26347151],
       [ 0.64716583,  0.35283419],
       [ 0.78330857,  0.21669149],
       [ 0.70070171,  0.29929829],
       [ 0.65866762,  0.34133232],
       [ 0.64829832,  0.35170174],
       [ 0.64369822,  0.35630178],
       [ 0.6548084 ,  0.34519163]], dtype=float32)

In [91]:
import math

In [93]:
math.exp(2) / (math.exp(1) + math.exp(2))

0.7310585786300049